---
import "../styles/global.css";
const { title = "My App" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="font-sans text-gray-800">
    <slot />
  </body>
</html>
